.container {    
    background-image: url("https://storage.googleapis.com/creator-academy-assets/music-partners/digital-rights-home.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}

.A{
width: 150px;
height: 100px;
padding: 10px;
}

button {
    width: 120px;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
    border: 4px solid black;
    border-radius: 15%;
}
h1 {
    color: white;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    margin: 0;
    opacity: 1;
    z-index: 1;
    position: relative;
}
h2 {
    color: yellow;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
    opacity: 1;
}
